.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 60vh;
    margin-bottom: 1rem;
}


.left-div {
    height: 100%;
    border-right: white solid 1px;
    padding-right: .2rem;
    text-align: center;
    padding-right: 2rem;
    padding-top: 2rem;
}

.left-div h4{
    margin-top: -1rem;
    margin-bottom: 7rem;
}

.poster{
    width: 80%;
}

.header {
    display: flex;
    justify-content: end;
}

@media (max-width: 800px) {
    .grid{
        display: table-row;
    }
    .poster {
        width: 7rem;
        position: absolute;
        left: 10%;
    }
    .left-div {
        border-right: none;
        border-bottom: white solid 1px;
        padding-left: 40%;
    }
    .left-div h4, h3, small{
        margin: auto;
    }

}