
.row-identification{
    display: grid;
    justify-content: center;
    height: 80%;
}


.numtd {
    padding-left: 3.2rem;
}

.screen{
    border-top: gray solid 2px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    color: gray;
}

.grid td {
    padding: .5rem;
    text-align: center;
}

.grid table{
    margin-top: 2rem;
    width: 80%;
    margin-left: 8%;
    color: gray;
}

.submit{
    position: absolute;
    height: 3rem;
    right: 10%;
    margin-top: 6rem;
}

@media (max-width: 1000px) {
    .grid table {
      width: 90%;
      margin: auto;
      margin-top: 2rem;
    }
    .submit {
        position: inherit;
        width: 40%;
        margin-left: 30%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
  }

  @media (max-width: 800px) {
    .seat-form{
        display: grid;
    }
  }
  @media (max-width: 1150px) {
    .grid table{
        width: 90%;
    }
  }