.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-overlay{
    position: fixed;
    top: 20vh;
    width: 70%;
    left: 15%;
    background-color: #181818;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: hidden;
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .modal-overlay{
        top: 2vh;
        width: 90%;
        left: 5%;
        height: 93vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 2rem 1rem;
    }
}