.add-subtract-btn{
    width: 3rem;
}

.description-div{
    color: white;
    text-align: center;
    margin-top: -.8rem;
}

.big-div{
    margin-right: 1rem;
}

.btns-div span{
    padding: 1rem;
    color: white;
}

@media (max-width: 768px){
    .btns-div{
        display: flex;
    }
}